a {
  @include transition(color 0.3s ease-out);

  color: $materialBlue;
  display: inline-block;
  text-decoration: none;

  i.fa {
    @include transition(font-size 0.3s ease-out);

    margin-right: 10px;
  }

  &:hover {
    color: $green;

    i.fa {
      font-size: 18px;
    }
  }
}
