
.tool-box {
  .add-tool-btn {
    @include box-shadow();

    background-color: $red;
    border: none;
    border-radius: 50%;
    bottom: 0;
    color: $white;
    cursor: pointer;
    display: inline-block;
    height: 55.5px;
    line-height: 56px;
    position: absolute;
    right: 15px;
    text-align: center;
    width: 55.5px;
    z-index: 1;
  }
}

.tools__list {
}

.tool {
  margin-bottom: 20px;

  .tool__logo {
    display: table-cell;
    height: 8em;
    text-align: center;
    vertical-align: middle;
    width: 8em;
  }

  img {
    height: 60%;
    width: 60%;
  }
}

#tool-form-wrapper {
  bottom: 25px;
  position: fixed;
  right: 0;
  width: 100%;

  .tool-form {
    @include box-shadow();
    @include pad(10px 10px);

    background: $black;
    border-radius: 3px;
    bottom: 90px;
    margin: 12px 15px;
    position: absolute;
    width: 300px;
  }
}

/*************/
/* Animation */
/*************/

// *** Tool ***
.tool-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.tool-appear.tool-appear-active {
  opacity: 1;
}

.tool-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.tool-enter.tool-enter-active {
  opacity: 1;
}

.tool-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.tool-leave.tool-leave-active {
  opacity: 0.01;
}

// *** Tool Form ***
.tool-form-enter {
  right: -100%;
  transition: right .5s;
}

.tool-form-enter.tool-form-enter-active {
  right: 0;
}

.tool-form-leave {
  right: 0;
  transition: right .5s;
}

.tool-form-leave.tool-form-leave-active {
  right: -100%;
}
