
.tool-box {
  h1 {
    color: $white;
    padding-left: 5%;
  }

  .add-tool-btn {
    @include box-shadow();

    background-color: $red;
    border: none;
    border-radius: 50%;
    bottom: 25px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    height: 55.5px;
    line-height: 56px;
    position: fixed;
    right: 15px;
    text-align: center;
    width: 55.5px;
    z-index: 1;
  }
}

.tool-list {
  .tool {
    @include box-shadow();

    background: $white;
    border-radius: 3px;
    padding: 10px 10px;
    margin: 12px 15px;

    &:last-child {
      float: left;
    }
  }

  .tool__info {
    @extend .text-center;
  }

  img, .tool__no-logo {
    @extend .text-center;

    border-radius: 50%;
    box-shadow: 2px 2px 5px $grey;
    display: block;
    height: 8em;
    margin: 1em auto;
    width: 8em;
  }

  .tool__no-logo {
    span {
      height: 8em;
      width: 8em;
      display: table-cell;
      vertical-align: middle
    }
  }
}

#tool-form-wrapper {
  bottom: 90px;
  position: fixed;
  right: 0;

  .tool-form {
    @include box-shadow();

    background: $black;
    border-radius: 3px;
    bottom: 90px;
    margin: 12px 15px;
    padding: 10px 10px;
    position: fixed;
    width: 300px;
  }
}

/*************/
/* Animation */
/*************/

// *** Tool ***
.tool-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.tool-appear.tool-appear-active {
  opacity: 1;
}

.tool-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.tool-enter.tool-enter-active {
  opacity: 1;
}

.tool-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.tool-leave.tool-leave-active {
  opacity: 0.01;
}

// *** Tool Form ***
.tool-form-appear {
  right: -100%;
  transition: right 0.5s ease;
}

.tool-form-appear.tool-form-appear-active {
  right: 0;
}
